<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Formulario</title>
</head>
<body>
    <main>
        <section>
            <h3>Formulario de prueba</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut officia impedit asperiores dignissimos, quas doloremque minus esse nam nihil perferendis excepturi cum enim et amet voluptate quibusdam nobis aspernatur odio.
            </p>
        </section>
        <section>
            <div class="container">
                <form action="#" method="POST">
                    <div class="row">
                        <div class="col">
                            <label for="nombre">Digite el nombre</label>
                            <input type="text" id="nombre" name="CamNombre" placeholder="Digite el nombre del usuario">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="apellido">Digite el apellido</label>
                            <input type="text" id="apellido" name="CamApellido" placeholder="Digite el apellido del usuario">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="opciones">Seleccione una opción</label>
                            <select name="opciones" id="opciones">
                                <option>Seleccione una opción</option>
                                <option value="1">Opción 1</option>
                                <option value="2">Opción 2</option>
                                <option value="3">Opción 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="data">Comentario</label>
                            <textarea name="objeto" id="data" placeholder="Escriba su respuesta"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="submit" value="Enviar">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>