<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Imagenes</title>
</head>
<body>
    <main>
        <section class="container">
            <div class="row">
                <div class="galeria">
                    <img src="../public/img/pexels-centre-for-ageing-better-9729879.jpg" alt="ageing-better">
                    <p class="desc">Lorem ipsum dolor sit amet, erspiciatis nisi ratione!</p>
                </div>
                <div class="galeria">
                    <img src="../public/img/pexels-craig-adderley-1563356.jpg" alt="craig-adderley">
                    <p class="desc">Lorem ipsum dolor sit amet, erspiciatis nisi ratione!</p>
                </div>
                <div class="galeria">
                    <img src="../public/img/pexels-hristo-fidanov-1252869.jpg" alt="hristo-fidanov">
                    <p class="desc">Lorem ipsum dolor sit amet, erspiciatis nisi ratione!</p>
                </div>
                <div class="galeria">
                    <img src="../public/img/pexels-simon-berger-1323550.jpg" alt="simon-berger">
                    <p class="desc">Lorem ipsum dolor sit amet, erspiciatis nisi ratione!</p>
                </div>
                <div class="galeria">
                    <img src="../public/img/pexels-steve-johnson-1269968.jpg" alt="steve-johnson">
                    <p class="desc">Lorem ipsum dolor sit amet, erspiciatis nisi ratione!</p>
                </div>
                <div class="galeria">
                    <img src="../public/img/pexels-travis-blessing-1363876.jpg" alt="travis-blessing">
                    <p class="desc">Lorem ipsum dolor sit amet, erspiciatis nisi ratione!</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
